{% extends 'myhome/base.html' %}

{% load static %}
{% load social_share %}
{% block breadcrumbs%}
<li class="item cart">
<a href="{% url 'blog_posts'%}" style="{{ gray_color }}">Blog</a>
</li>  
<li class="item cart">
   <a href="{% url 'blog_post_detail' post.id %}">{{ post.title_blog_post }}</a>
</li>     
{% endblock breadcrumbs %}


{% block title %} {{ post.title_blog_post }} {% endblock %}

{% block main %}

         <main id="maincontent" class="page-main">
            <div class="container">
               <div>
                  <div class="columns">

                     <div id="main" class="site-main">
                        <article class="post">
                           <div class="post-thumb light-line">
                              <a href=""><img src="{{ post.image_blog_post.url }}" alt="{{ post.title_blog_post }}"></a>

                           </div>
                           <!-- .post-thumb -->
                           <div class="post-info">
                              <h3 class="post-title"><a href="#">{{ post.title_blog_post }}</a></h3>
                              <ul class="post-meta">
                                 <li><i class="fa fa-clock-o"></i> {{ post.published_at|date:"H:i D d M Y" }}</li>
                                 <li><a href=""><i class="fa fa-comments-o"></i> {{ post.comments.count }} Comments</a></li>
                                 <li><i class="fa fa-thumbs-o-up"></i> Likes</li>
                                 <!-- <li><i class="fa fa-thumbs-o-down"></i> Dislikes</li> -->
                              </ul>                    
                              <div class="post-desc">
                                 <p>{{ post.description_blog_post }}</p>
                                 <!--<div>
                                    <div class="row">
                                       <div class="col-sm-6">
                                          <img src="{{ post.image_blog_post.url }}" alt="{{ post.title_blog_post }}">
                                       </div>
                                       <div class="col-sm-6">
                                          <img src="{{ post.image_blog_post.url }}" alt="{{ post.title_blog_post }}">
                                       </div>
                                    </div>
                                 </div>-->
                                 <!--<p>{{ post.description_blog_post }}</p>-->
                              </div>
                              <!-- .post-desc -->
                           </div>
                           <!-- .post-info -->
                           <footer class="entry-footer">
                              <span class="tags-links">
                              <strong>TAGS:</strong>
                              <a rel="tag" href="#">Wordpress</a>
                              <a rel="tag" href="#">PSD</a>
                              <a rel="tag" href="#">Design</a>
                              <a rel="tag" href="#">Men Store</a>
                              <a rel="tag" href="#">Summer</a>
                              </span>
                              <div class="single-share">
                                 <strong>SHARE THIS:</strong>
                                 <div class="social">
                                    <ul>
                                      <li>
                                        <a href="#" target="_blank">
                                          <i class="fa fa-facebook-square"></i>
                                        </a>
                                      </li>
                                       <li>
                                         <a href="#" target="_blank">
                                           <i class="fa fa-twitter"></i>
                                         </a>
                                       </li>
                                       <li>
                                         <a href="#" target="_blank">
                                           <i class="fa fa-pinterest"></i>
                                         </a>
                                       </li>
                                       <!--<li><a href="#" target="_blank"><i class="fa fa-behance"></i></a></li>
                                       <li><a href="#" target="_blank"><i class="fa fa-dribbble"></i></a></li>-->
                                    </ul>
                                 </div>
                              </div>
                              <!-- .single-share -->
                              <div class="author-info">
                                 <!--<img alt="" class="avatar" src="{% static 'images/avatar/avatar.jpg' %}">
                                 <div class="author-bio">
                                    <h3>Administrator</h3>
                                    <span class="job">Web Designer</span>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing in adipiscing et, interdum nec metus.</p>
                                 </div>-->
                              </div>
                           </footer>
                        </article>
                        <div class="comments-area" id="comments">
                          {% if comments %}
                           <h3 class="comments-title widget-title mb-4">КОМЕНТАРІ ( {{ post.comments.count }} )</h3>
                           <ol class="comment-list">
                              <!-- .comment -->
                              {% for comment in comments %}
                              <li class="comment">
                                 <div class="comment-body">
                                    <div class="comment-avatar">
                                       <img class="avatar" alt="" src="{% static 'images/avatar/avatar_03.png' %}">
                                    </div>
                                    <!-- .comment-avatar -->
                                    <header class="comment-meta">
                                       <cite class="comment-author"><span><a class="url" rel="external nofollow" href="#">{{ comment.name }}</a></span></cite>
                                       <div class="action-link">
                                          <a>{{ comment.created|date:"H:i - D d M Y" }}</a> /
                                          <a href="#" class="comment-reply-link" role="button">Reply</a> /
                                          <a href="{% url 'edit_comment' comment.id %}" class="comment-repost">Edit</a> /
                                          <a href="{% url 'delete_comment' comment.id %}" class="comment-repost">Delete</a>
                                       </div>
                                       <!-- .action-link -->
                                    </header>
                                    <!-- .comment-meta -->
                                    <div class="comment-content comment">
                                       <p>{{ comment.body }}</p>
                                    </div>
                                    <!-- .comment-content -->
                                 </div>
                                 <!-- .comment-body -->
                                 <ol class="children">
                                   {% for reply in comment.replies.all %}
                                    <!-- .comment -->
                                    <li class="comment">
                                       <div class="comment-body">
                                          <div class="comment-avatar">
                                             <img class="avatar" alt="" src="{% static 'images/avatar/avatar_01.png' %}">
                                          </div>
                                          <!-- .comment-avatar -->
                                          <header class="comment-meta">
                                             <cite class="comment-author"><span><a class="url" rel="external nofollow" href="#">{{ reply.name }}</a></span></cite>
                                             <div class="action-link">
                                                <a>{{ reply.created|date:"H:i D d M Y" }}</a> /
                                                <a href="#" class="comment-repost">Edit</a> /
                                                <a href="" class="comment-repost">Delete</a> /
                                                <a href="" class="comment-reply-link">Reply</a>
                                             </div>
                                             <!-- .action-link -->
                                          </header>
                                          <!-- .comment-meta -->
                                          <div class="comment-content comment">
                                             <p>{{ reply.body }}</p>
                                          </div>
                                          <!-- .comment-content -->
                                       </div>
                                       <!-- .comment-body -->
                                    </li>
                                    <!-- .comment -->
                                    {% endfor %}
                                 </ol>
                                  <form method="post" class="comment-form comment-form-hide">
                                     {% csrf_token %}
                                     <!-- Hidden input for parent comment.id -->
                                     <input type="hidden" name="parent_id" value="{{ comment.id }}">
                                     <div class="row">
                                    <div class="col-md-4">
                                      <p class="comment-form-author">
                                        <!-- <label for="id_name">Ваше ім'я:</label> -->
                                        <input type="text" name="name" maxlength="80" required="" id="id_name" placeholder="Ваше ім'я *">
                                      </p>
                                    </div>
                                    <div class="col-md-4">
                                      <p class="comment-form-email">
                                        <!-- <label for="id_email">Email:</label> -->
                                        <input type="email" name="email" maxlength="254" required="" id="id_email" placeholder="Ваш Email *">
                                      </p>
                                    </div>
                                    <div class="col-md-4">
                                      <p class="comment-form-phone">
                                        <!-- <label for="id_phone_number">Номер телефону:</label> -->
                                        <input type="text" name="phone_number" maxlength="12" required="" id="id_phone_number" placeholder="Ваше номер телефону *">
                                      </p>
                                    </div>
                                  </div>
                                  <p class="comment-form-comment">
                                    <!-- <label for="id_body">Повідомлення:</label> -->
                                    <textarea name="body" cols="40" rows="10" required="" id="id_body" aria-required="true" placeholder="Ваше повідомлення *" id="comment" style="padding: 10px; border-color: #b5b5b5; border-radius: 2px; color: #b5b5b5;"></textarea>
                                  </p>
                                  <p class="form-submit">
                                    <input type="submit" value="Відповісти" class="btn btn-lg btn-primary" id="submit">
                                 </p>
                                 </form>
                              </li>
                              {% endfor %}
                              {% endif %}
                              <!-- .comment -->
                           </ol>
                           <!-- .comment-list -->
                           <div class="comment-respond" id="respond">
                              <h3 class="comment-reply-title widget-title" id="reply-title">ЗАЛИШИТИ КОМЕНТАР</h3>
                              {% if new_comment %}
                                <h2>Your comment has been added.</h2>
                              {% else %}
                                <form class="comment-form margin-bottom-70" id="commentform" method="post" action="#">
                                  {% csrf_token %}
                                  <div class="row">
                                    <div class="col-md-4">
                                      <p class="comment-form-author">
                                        <!-- <label for="id_name">Ваше ім'я:</label> -->
                                        <input type="text" name="name" maxlength="80" required="" id="id_name" placeholder="Ваше ім'я *">
                                      </p>
                                    </div>
                                    <div class="col-md-4">
                                      <p class="comment-form-email">
                                        <!-- <label for="id_email">Email:</label> -->
                                        <input type="email" name="email" maxlength="254" required="" id="id_email" placeholder="Ваш Email *">
                                      </p>
                                    </div>
                                    <div class="col-md-4">
                                      <p class="comment-form-phone">
                                        <!-- <label for="id_phone_number">Номер телефону:</label> -->
                                        <input type="text" name="phone_number" maxlength="12" required="" id="id_phone_number" placeholder="Ваше номер телефону *">
                                      </p>
                                    </div>
                                  </div>
                                  <p class="comment-form-comment">
                                    <!-- <label for="id_body">Повідомлення:</label> -->
                                    <textarea name="body" cols="40" rows="10" required="" id="id_body" aria-required="true" placeholder="Ваше повідомлення *" id="comment" style="padding: 10px; border-color: #b5b5b5; border-radius: 2px; color: #b5b5b5;"></textarea>
                                  </p>
                                  <p class="form-submit">
                                    <input type="submit" value="Залишити коментар" class="btn btn-lg btn-primary" id="submit">
                                 </p>
                              </form>
                                 <!--<div class="row">
                                    <div class="col-md-4">
                                       <p class="comment-form-author">
                                          <input type="text" name="name" placeholder="Ваше ім'я *" id="author" required>
                                       </p>
                                    </div>
                                    <div class="col-md-4">
                                       <p class="comment-form-email">
                                          <input type="text" name="email" placeholder="Ваш email *" id="email" required>
                                       </p>
                                    </div>
                                    <div class="col-md-4">
                                       <p class="comment-form-phone">
                                          <input type="text" name="phone_number" placeholder="Ваш номер *" id="phone" required>
                                       </p>
                                    </div>
                                 </div>
                                 <!-- .row -->
                                 <!--<p class="comment-form-comment">
                                    <textarea aria-required="true" rows="9" cols="45" placeholder="Ваше повідомлення *" name="body" id="comment" required></textarea>
                                 </p>-->
                              {% endif %}
                           </div>
                           <!-- #respond -->
                        </div>
                        <!-- .comments-area -->
                     </div>
                     <!-- .site-main -->

                  </div>
               </div>
            </div>
         </main>



{% endblock %}
